.header {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 1096px;
  outline: 2px solid blueviolet;
  font-family: var(--font-rubik);
  background-color: transparent;

  .top {
    display: flex;
    align-items: center;
    width: 100%;
    height: 120px;
    padding: 1rem 0;

    .logo {
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: min-content;
      font-size: 3rem;
    }
  }

  .bottom {
    display: flex;
    width: 100%;
    height: 80px;
    background-color: var(--main-white);
    border-radius: 3px;
  }
}
