@import "../../mixin.scss";

.service_card {
  display: flex;
  flex-direction: column;
  max-width: 960px;

  @include lg {
    max-width: 860px;
  }
  
  @include md {
    max-width: 660px;
  }

  &.right_aligned {
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    background-color: var(--color-bg-light);
  }

  &.left_aligned {
    display: flex;
    justify-content: flex-start;
    margin-right: auto;
    // box-shadow: 0 6px 10px var(--color-dark-box-shadow);
  }

  .container {
    padding: 100px 0;

    @include md {
      padding: 50px 0;
    }

    &.right_padding {
      padding-left: 134px;
      padding-right: 62px;

      @include lg {
      padding-left: 114px;
      padding-right: 42px;
      }

      @include md {
      padding-left: 94px;
      padding-right: 32px;
      }

      @include sm {
        padding-left: 10px;
        padding-right: 10px;
      }
    }

    &.left_padding {
      padding-right: 134px;
      padding-left: 62px;

      @include lg {
      padding-right: 114px;
      padding-left: 42px;
      }

      @include md {
      padding-right: 94px;
      padding-left: 32px;
      }

      @include sm {
        padding-right: 10px;
        padding-left: 10px;
      }
    }
    .text {
      @include text-main-openSands;
      margin-bottom: 40px;
    }
  }

  .wrapper_title {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 20px;

    .services_title {
      line-height: normal;
    }
  }
  .wrapper_img {
    display: flex;
    justify-content: space-between;

    @include sm {
      :nth-child(3) {
        display: none;
      }
    }

    .thumb img {
      width: 220px;
      height: 160px;
      object-fit: cover;
      box-shadow: 0 6px 10px var(--color-dark-box-shadow);
      transform: scale(1);
      transition: transform 800ms ease-in-out;

      @include lg {
        width: 200px;
        height: 140px;
      }

      @include md {
        width: 160px;
        height: 100px;
      }

      @include sm {
        width: 160px;
        height: 100px;
      }

      &:hover {
        transform: scale(1.2);

        @include md {
         transform: none;
        }
      }
    }
  }
}
