@import "../mixin.scss";

.wrapper {
  padding-top: 50px;
  @include text-main-openSands;

  ul {
    list-style: circle;
    li {
      margin-left: 20px;
      span {
        font-weight: bold;
      }
    }
  }

  h2,
  h3 {
    text-align: center;
    margin-top: 20px;
  }

  h2 {
    @include text-title-h3-rubik;
  }

  h3 {
    font-family: var(--font-rubik);
  }

  p {
    text-indent: 30px;
  }

  a {
    display: inline;
    max-width: max-content;
    text-decoration: underline;
    color: var(--color-accent-blue);
  }
}
