@import "../../mixin.scss";

.testimonials {
  margin-top: -8% !important;

  // @include sm {
  //   margin-top: -12%;
  // }

  .wrapper {
    position: relative;
    background: var(--color-white);
    z-index: 1;
    border-radius: 3px;
    box-shadow: 0 6px 10px var(--color-dark-box-shadow);
  }

  .list {
    display: flex;
    flex-direction: column;
    padding: 90px 110px;
    max-width: 1280px;

    @include lg {
      padding: 40px 60px;
    }

    @include md {
      padding: 40px 30px;
    }

    @include sm {
      padding: 40px 10px;
    }

    .item {
      display: flex;
      flex-direction: column;

      .title {
        display: flex;
        flex-direction: column;
        gap: 2px;
        margin-bottom: 12px;

        .top_subtitle {
          font-family: var(--font-montserrat);
          font-size: 14px;
          font-weight: 300;
          text-align: center;
          text-transform: uppercase;
          color: #919191;
          letter-spacing: 3px;
          line-height: 2;
        }
        .bottom_subtitle {
          font-family: var(--font-montserrat);
          font-size: 30px;
          font-weight: 700;
          text-align: center;
          text-transform: uppercase;
        }
      }

      .navigation {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 210px;
        margin-top: 58px;
        margin-bottom: 78px;

        @include md {
          gap: 110px;
        }

        @include sm {
          gap: 60px;
        }
      }

      .text_container {
        display: flex;
        flex-direction: column;
        gap: 58px;

        .text {
          font-family: var(--font-montserrat);
          font-weight: 400;
          font-size: 14px;
          line-height: 1.7;
          color: #919191;
          text-align: center;
          min-height: 72px;

          @include md {
            min-height: 95px;
          }

          @include sm {
            min-height: 220px;
          }
        }

        .full_name {
          font-family: var(--font-montserrat);
          font-size: 16px;
          font-weight: 700;
          text-align: center;
        }
      }
    }
  }

  img {
    width: 92px;
    height: 92px;
    border-radius: 50%;
  }

  .btn_testimonials {
    position: static;
  }
}
