@import "../../app/mixin.scss";

.sideBarContainer {
  position: fixed;
  top: 38%;
  right: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  width: 60px;
  box-shadow: -10px 0px 20px 2px rgba(0, 0, 0, 0.06);
  z-index: 10;

  .sideBarLangBtnsWrapper {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    color: var(--color-dark);

    .sideBarBtnSelected {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 7px;
      width: 60px;
      height: 60px;
      color: var(--color-dark);
      background-color: var(--color-white);
      border-bottom: 1px solid var(--color-accent-blue);
      @include transition-standart;

      &:hover {
        background-color: var(--color-accent-yellow);
      }
    }

    .sideBarLangBtn {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 7px;
      width: 60px;
      height: 60px;
      color: var(--color-dark);
      background-color: var(--color-white);
      opacity: 0;
      transform: translateX(30%);
      @include transition-standart;

      &:hover {
        background-color: var(--color-accent-yellow);
      }
    }

    &:hover .sideBarLangBtn {
      opacity: 1;
      transform: translateX(0);
    }
  }
  // ----------------------

  // ====== THEME BTNS ======

  .btnsThemeWrapper {
    display: flex;
    // --------
    // flex-direction: column;
    // ---------
    justify-content: flex-end;
    align-items: center;
    font-size: 18px;
    // background-color: var(--color-white);
    // @include transition-standart;

    // &:hover {
    //   width: 68px;

    // .btnDarkTheme {
    //   opacity: 1;
    // }
    // }

    .btnSelectedTheme {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 7px;
      width: 60px;
      height: 60px;
      color: var(--color-dark);
      background-color: var(--color-white);
      // border-bottom: 1px solid var(--color-dark);
      @include transition-standart;

      &:hover {
        background-color: var(--color-accent-yellow);
      }
    }

    .btnTheme {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 7px;
      width: 60px;
      height: 60px;
      // text-align: center;
      color: var(--color-dark);
      background-color: var(--color-white);
      opacity: 0;
      transform: translateX(40%);
      @include transition-standart;

      &:hover {
        background-color: var(--color-accent-yellow);
      }
    }

    &:hover .btnTheme {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
