@import "../../mixin.scss";
.hero_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 420px;
  margin: auto 0;

  .list_title {
    display: flex;
    font-family: var(--font-rubik);
    font-size: 32px;
    font-weight: 700;
    line-height: 50.4px; /* 157.5% */
    margin-bottom: 20px;
    color: var(--color-accent-blue);
  }

  .list {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 40px;

    .item {
      display: flex;
      width: 350px;
      gap: 20px;
      cursor: pointer;

      .item_text {
        font-family: var(--font-open-sands);
        font-size: 15px;
        line-height: 27px; /* 180% */

        :first-child {
          font-family: var(--font-rubik);
          font-size: 16px;
          font-weight: 700;
          line-height: 24px;
        }
      }

      .svg {
        min-width: 36px;
        min-height: 36px;
        color: var(--color-accent-blue);
        @include transition-standart;
      }

      &:hover .svg {
        color: var(--color-accent-yellow);
      }
    }
  }

  &.main {
    .list_title {
      // color: var(--color-accent-blue);
    }
  }

  &.about {
  }
}
