@import "../../mixin.scss";

.hero_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 420px;
  margin: auto 0;

  @include lg {
    width: 350px;
  }

  @include md {
    display: none;
  }

  .list_title {
    @include text-title-h3-rubik;
    display: flex;
    margin-bottom: 20px;
    color: var(--color-accent-blue);
  }

  .list {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 40px;

    .item {
      display: flex;
      width: 350px;
      gap: 20px;
      cursor: pointer;

      .item_text {
        @include text-main-openSands;
        color: var(--color-white-allways);
        line-height: 1.8;

        :first-child {
          @include text-title-item-rubik;
          @include transition-standart;
        }
      }

      .svg {
        min-width: 36px;
        min-height: 36px;
        color: var(--color-accent-blue);
        @include transition-standart;
      }

      &:hover {
        .svg,
        :first-child {
          color: var(--color-accent-yellow);
          @include transition-standart;
        }
      }
    }
  }

  &.contacts {
    .item,
    a {
      cursor: auto;
      &:hover :first-child {
        color: var(--color-white-allways);
      }
    }
    .item {
      width: 200px;
    }
  }

  &.mobile {
    display: none;
    @include md {
      width: 100%;
      padding: 100px 0;
      display: flex;
    }

    .mobile_title {
      display: flex;
      flex-direction: column;
      gap: 39px;
      padding-bottom: 39px;
    }
    .list {
      flex-direction: row;
      gap: 0;
      justify-content: space-between;

      @include sm {
        flex-direction: column;
        gap: 40px;
        align-items: center;
      }
      .item {
        width: max-content;

        .item_text {
          color: var(--color-dark);

          @include sm {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;

            :not(:first-child) {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
