@import "../../mixin.scss";

.hero_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 420px;
  margin: auto 0;

  @include lg {
    width: 350px;
  }

  @include sm {
    display: none;
  }

  .list_title {
    @include text-title-h3-rubik;
    display: flex;
    margin-bottom: 20px;
    color: var(--color-accent-blue);
  }

  .list {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 40px;

    .item {
      display: flex;
      width: 350px;
      gap: 20px;
      cursor: pointer;

      .item_text {
        @include text-main-openSands;
        color: var(--color-white);
        line-height: 1.8;

        :first-child {
          @include text-title-item-rubik;
          @include transition-standart;
        }
      }

      .svg {
        min-width: 36px;
        min-height: 36px;
        color: var(--color-accent-blue);
        @include transition-standart;
      }

      &:hover {
        .svg,
        :first-child {
          color: var(--color-accent-yellow);
          @include transition-standart;
        }
      }
    }
  }

  &.contacts {
    .item,
    a {
      cursor: auto;
      &:hover :first-child {
        color: var(--color-white);
      }
    }
  }

  &.contacts_mobile {
    @include md {
      display: flex;
    }
  }
}
