.button_container {
  display: flex;
  flex-direction: row;
}

.btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // width: 500px;
  width: 420px;
  height: 130px;
}

.left_btn {
  background-color: var(--color-accent-blue);
  color: var(--color-dark);
}

.right_btn {
  background-color: var(--color-dark);
  color: var(--color-white);
}

.blue_white .left_btn {
  max-width: 430px;
  width: 100%;
  align-items: flex-start;
}

.blue_white .right_btn {
  max-width: 430px;
  width: 100%;
  background-color: var(--color-white);
  color: var(--color-dark);
}

.dark_blue .btn {
  width: 567px;
  height: 115px;
}

.dark_blue .left_btn {
  background-color: var(--color-dark);
  color: var(--color-white);
}

.dark_blue .right_btn {
  background-color: var(--color-accent-blue);
  color: var(--color-white);
}
