@import "../../mixin.scss";

.service_item {
  padding: 100px 0;

  .service_container {
    display: grid;
    column-gap: 72px;
    row-gap: 40px;
    padding: 10px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;

    .text {
      @include text-dark-openSands-15px-27lh-06ls;
    }
  }
}
