@import "../../mixin.scss";


.service_item{
    padding: 100px 0;

    .service_container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        // gap:68px;

        .left_wrapper{
            width: 535px;
        }

        .right_wrapper{
            width: 535px;
            display: flex;
            flex-direction: column;
            gap: 28px;
        }

        .text {
            @include text-dark-openSands-15px-27lh-06ls;
          }
    }
}

