@import "../../mixin.scss";

.videoSection {
  width: 100%;

  .videoContainer {
    display: flex;
    padding: 100px 0 0;

    .videoDescWrapper {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 78px 38px;
      max-width: 418px;
      width: 100%;
      color: var(--color-white);
      background-color: var(--color-dark);

      .videoTitle {
        margin-bottom: 38px;
        font-family: var(--font-rubik);
        font-size: 40px;
        font-weight: 700;
        line-height: 1.2;
        text-transform: capitalize;
      }

      .videoDesc {
        margin: 38px 0;
        font-family: var(--font-open-sands);
        font-size: 15px;
        line-height: 1.8;
        letter-spacing: 0.6px;
      }
    }

    .videoWrapper {
      max-width: 861px;
      width: 100%;
      .videoBox {
        width: 100%;
        height: 602px;
        background-color: var(--color-dark);
      }
    }
  }
}
