.about_process{
    padding-bottom: 350px;
    background-color: var(--color-dark);
    color: var(--color-white);

    .about_container{
      display: flex;
      flex-direction: row;  

      .left_container{
        padding: 93px 37px 269px 37px;
      }
    }
}