@import "../../mixin.scss";

.projectItem {
  position: relative;
  display: flex;
  max-width: 386px;
  width: 100%;
  height: 260px;
  // --- By ratio for responsive ---
  //   width: 365px;
  //   height: 243px;
  font-family: var(--font-open-sands);
  border: 1px solid #ccc;
  overflow: hidden;
  // object-fit: cover;
  transform: scale(1);
  // transition: transform 300ms ease-in-out;

  @include lg {
    max-width: 317px;
    height: 214px;
  }

  @include md {
    max-width: 356px;
    height: 214px;
  }

  @include sm {
    max-width: 355px;
    height: 239px;
  }

  &:hover .projectImg {
    transform: scale(1.2);
  }

  &:hover .overlayContent {
    opacity: 1;
  }

  .projectImg {
    object-fit: cover;
    width: 100%;
    height: auto;
    transition: transform 800ms ease-in-out;
  }

  // .loading {
  //   transform: scale(1.1);
  //   filter: blur(60px);
  //   // filter: grayscale(100%);
  // }

  // .notLoading {
  //   transform: scale(1);
  //   filter: blur(0);
  //   // filter: grayscale(0%);
  // }

  .overlayContent {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0 6px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--color-yellow-blur);
    color: var(--color-white-allways);
    opacity: 0;
    transition: opacity 300ms ease-in-out;

    .projectTitle {
      font-size: 28px;
      font-weight: 800;
      margin-top: 18px;
      margin-bottom: 26px;

      @include lg {
        font-size: 22px;
        margin-bottom: 10px;
      }

      @include sm {
        font-size: 22px;
        margin-bottom: 16px;
      }
    }

    .projectLinksWrapper {
      display: flex;
      justify-content: center;
      gap: 30px;

      .linkProject,
      .magnifyingGlassBtn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 60px;
        color: var(--color-white-allways);
        background-color: transparent;
        border-radius: 100%;
        @include transition-standart;

        &:hover {
          color: var(--color-dark-allways);
          background-color: var(--color-white-allways);
        }

        .linkIcon {
          width: 24px;
          height: 24px;
        }

        .magnifyingGlassIcon {
          width: 34px;
          height: 34px;
        }
      }
    }
  }
}
