.projectSection {
  width: 100%;
}

.projectContainer {
  padding: 126px 0 100px;
}

.sectionTitle {
  margin-bottom: 38px;
  font-family: var(--font-rubik);
  font-size: 40px;
  font-weight: 700;
  line-height: 1;
  text-transform: capitalize;
  text-align: center;
}

.projectList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin: 38px auto;
}
.projectList .projectItem {
  position: relative;
  display: flex;
  width: 344px;
  height: 230px;
  font-family: var(--font-open-sands);
  overflow: hidden;
  object-fit: cover;
  transform: scale(1);
}
.projectList .projectItem:hover .projectImg {
  transform: scale(1.2);
}
.projectList .projectItem:hover .overlayContent {
  opacity: 1;
}
.projectList .projectItem .projectImg {
  transition: transform 800ms ease-in-out;
}
.projectList .projectItem .overlayContent {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--color-yellow-blur);
  color: var(--color-white);
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}
.projectList .projectItem .overlayContent .projectTitle {
  font-size: 28px;
  font-weight: 800;
  margin-bottom: 26px;
}
.projectList .projectItem .overlayContent .projectLinksWrapper {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.projectList .projectItem .overlayContent .projectLinksWrapper .linkProject,
.projectList .projectItem .overlayContent .projectLinksWrapper .magnifyingGlassBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  color: var(--color-white);
  background-color: transparent;
  border-radius: 100%;
  transition: all 300ms ease-in-out;
}
.projectList .projectItem .overlayContent .projectLinksWrapper .linkProject:hover,
.projectList .projectItem .overlayContent .projectLinksWrapper .magnifyingGlassBtn:hover {
  color: var(--color-dark);
  background-color: var(--color-white);
}
.projectList .projectItem .overlayContent .projectLinksWrapper .linkProject .linkIcon,
.projectList .projectItem .overlayContent .projectLinksWrapper .magnifyingGlassBtn .linkIcon {
  width: 24px;
  height: 24px;
}
.projectList .projectItem .overlayContent .projectLinksWrapper .linkProject .magnifyingGlassIcon,
.projectList .projectItem .overlayContent .projectLinksWrapper .magnifyingGlassBtn .magnifyingGlassIcon {
  width: 34px;
  height: 34px;
}

.viewAllBtnLink {
  margin-left: auto;
  margin-right: auto;
  width: 210px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-dark);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  position: relative;
  width: 800px;
  height: 500px;
}

.closeButton {
  top: 20px;
  right: 20px;
}

.prevButton {
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
}

.nextButton {
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

.counter {
  color: var(--color-accent-blue);
  margin-top: 15px;
  font-size: 14px;
}/*# sourceMappingURL=projectSection.module.css.map */