@import "../../mixin.scss";

.btnsThemeWrapper {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;

  .btnSelectedTheme {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px;
    width: 60px;
    height: 60px;
    color: var(--color-dark);
    background-color: var(--color-white);
    // border-bottom: 1px solid var(--color-dark-box-shadow);
    @include transition-standart;
    z-index: 10;

    svg {
      width: 24px;
      height: 24px;
    }

    &.active {
      position: relative;
      border-top-left-radius: 0;

      &::before {
        position: absolute;
        content: "";
        left: 0;
        top: 50%;
        width: 1px;
        height: 30%;
        background-color: var(--color-border);
        transform: translateY(-50%);
      }
    }

    &:hover {
      background-color: var(--color-accent-yellow);
    }
  }

  .btnTheme {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px;
    width: 60px;
    height: 60px;
    color: var(--color-dark);
    background-color: var(--color-white);
    opacity: 0;
    transform: translateX(60px);
    @include transition-standart;
    z-index: 9;

    svg {
      width: 24px;
      height: 24px;
    }

    &.visible {
      opacity: 1;
      transform: translateX(0);
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
      box-shadow: 0 6px 10px var(--color-dark-box-shadow);
    }

    &:hover {
      background-color: var(--color-accent-yellow);
    }
  }
}
