@import "../../mixin.scss";

.btnsThemeWrapper {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;

  @include md {
    flex-direction: column-reverse;
  }

  .btnSelectedTheme {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px;
    width: 60px;
    height: 60px;
    color: var(--color-dark);
    background-color: var(--color-white);
    // border-bottom: 1px solid var(--color-dark-box-shadow);
    @include transition-standart;
    z-index: 10;

    svg {
      width: 24px;
      height: 24px;
    }

    @include side-buttons-active-before;
    @include side-buttons-hover;
  }

  .btnTheme {
    @include side-buttons-hidden {
      svg {
        width: 24px;
        height: 24px;
      }
    }
    @include side-buttons-visible;
    @include side-buttons-hover;
  }
}
