@mixin transition-standart {
  transition: all 300ms ease-in-out;
  @content;
}

@mixin text-dark-openSands-15px-27lh-06ls {
  font-family: var(--font-open-sands);
  color: var(--color-dark);
  font-size: 15px;
  line-height: 27px; /* 180% */
  letter-spacing: 0.6px;
  @content;
}

@mixin text-title-rubik-40px-700w-25lh {
  font-family: var(--font-rubik);
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
  @content;
}
