@import "../../mixin.scss";

.sideBarContainer {
  position: fixed;
  top: 30%;
  right: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  width: 60px;
  box-shadow: 0 6px 10px var(--color-dark-box-shadow);
  z-index: 10;

  .sideBarLangBtnsWrapper {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    color: var(--color-dark);

    .sideBarBtnSelected {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 7px;
      width: 60px;
      height: 60px;
      color: var(--color-dark);
      background-color: var(--color-white);
      border-bottom: 1px solid var(--color-dark-box-shadow);
      @include transition-standart;
      z-index: 10;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;

      &.no_radius {
        position: relative;
        border-top-left-radius: 0;
        border-bottom: 1px solid transparent;

        &::before {
          position: absolute;
          content: "";
          left: 0;
          top: 50%;
          width: 1px;
          height: 30%;
          background-color: var(--color-dark-box-shadow);
          transform: translateY(-50%);
        }
      }

      &:hover {
        background-color: var(--color-accent-yellow);
      }
    }

    .sideBarLangBtn {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 7px;
      width: 60px;
      height: 60px;
      color: var(--color-dark);
      background-color: var(--color-white);
      opacity: 0;
      transform: translateX(60px);
      @include transition-standart;
      z-index: 9;

      &.visible {
        opacity: 1;
        transform: translateX(0);
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        box-shadow: 0 6px 10px var(--color-dark-box-shadow);
      }

      &:hover {
        background-color: var(--color-accent-yellow);
      }
    }
  }
  // ----------------------

  // ====== THEME BTNS ======

  .btnsThemeWrapper {
    display: flex;
    // --------
    // flex-direction: column;
    // ---------
    justify-content: flex-end;
    align-items: center;
    font-size: 18px;
    // background-color: var(--color-white);
    // @include transition-standart;

    // &:hover {
    //   width: 68px;

    // .btnDarkTheme {
    //   opacity: 1;
    // }
    // }

    .btnSelectedTheme {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 7px;
      width: 60px;
      height: 60px;
      color: var(--color-dark);
      background-color: var(--color-white);
      // border-bottom: 1px solid var(--color-dark);
      @include transition-standart;
      z-index: 10;

      &:hover {
        background-color: var(--color-accent-yellow);
      }
    }

    .btnTheme {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 7px;
      width: 60px;
      height: 60px;
      // text-align: center;
      color: var(--color-dark);
      background-color: var(--color-white);
      opacity: 0;
      transform: translateX(40%);
      @include transition-standart;

      &:hover {
        background-color: var(--color-accent-yellow);
      }
    }

    &:hover .btnTheme {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
