@import "../../mixin.scss";

.sideBarContainer {
  position: fixed;
  top: 30%;
  right: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  width: 60px;
  box-shadow: 0 6px 10px var(--color-dark-box-shadow);
  z-index: 10;
}
