@import "../../mixin.scss";

.prevButton,
.nextButton {
  bottom: 50%;
  transform: translateY(50%);

  @include sm {
    bottom: 36px;
  }

  @include sm-landscape {
    bottom: 50%;
  }
}

.prevButton {
  left: 20px;
}
.nextButton {
  right: 20px;
}

.ArrowLeftSVG,
.ArrowRightSVG {
  width: 32px;
  height: 32px;
}
