@import "../../mixin.scss";
.line {
  width: 48px;
  height: 5px;
  background-color: var(--color-accent-yellow);

  &.yellow-left {
    margin-right: auto;

    @include md {
      margin-left: auto;
    }
  }

  &.yellow-center {
    margin-left: auto;
    margin-right: auto;
  }
}
