@import "../../mixin.scss";

.social_list {
  display: flex;
  align-items: center;

  .item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 100%;

    .link {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      @include transition-standart;

      &:hover .svg {
        color: var(--color-accent-yellow);
      }
    }
    .svg {
      width: 20px;
      height: 20px;
      color: var(--color-dark);
      @include transition-standart;
    }
  }

  &.header {
    .item {
      border-left: 1px solid rgba(0, 0, 0, 0.15);
    }
  }

  &.footer {
    justify-content: center;
    gap: 60px;

    @include md {
      gap: 24px;
    }

    .item {
      width: 40px;
      height: 40px;
      .svg {
        width: 25px;
        height: 25px;
        color: var(--color-white);
      }
    }
  }
}
