@import "../mixin.scss";

.projectsSection {
  width: 100%;

  .projectsContainer {
    //  display: flex;
    // align-items: center;
    // justify-content: center;
    padding-top: 60px;
    padding-bottom: 250px;
    // height: 100vh;

    // .categoriesList {
    //   background-color: aquamarine;
    //   margin-bottom: 40px;
    //   .categoriesItem:not(:last-child) {
    //     margin-bottom: 20px;
    //   }
    // }
  }
}
