:root {
  color-scheme: normal;
  --color-accent-blue: #2596be;
  --color-accent-yellow: #efc11a;
  --color-yellow-blur: #efcc4ecc;
  --color-dark: #293241;
  --color-white: rgb(255, 255, 255);
  --color-bg-light: #f7f7f7;
  --color-dark-box-shadow: rgba(0, 0, 0, 0.25);
  --color-white-box-shadow: rgba(255, 255, 255, 0.25);
}

@media (prefers-color-scheme: dark) {
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: var(--color-dark);
  // background-color: var(--color-dark);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  height: auto;
  width: 100%;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  color: inherit;
  display: block;
  text-decoration: none;
}

/* a:focus,
button:focus {
  outline: 1px solid transparent;
} */

button {
  padding: 0;
  border: none;
  background-color: transparent;
  font: inherit;
  cursor: pointer;
}

address {
  font-style: normal;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

// @media (prefers-color-scheme: dark) {
//   html {
//     color-scheme: dark;
//   }
// }

.container {
  max-width: 1280px;
  margin: 0 auto;
  // background-color: gainsboro;
}

// $footerHeight: 385px;

main {
  min-height: 100vh;
  // min-height: calc(100vh - $footerHeight);
}

.rubik {
  font-family: var(--font-rubik);
}

.open-sands {
  font-family: var(--font-open-sands);
}
.montserrat {
  font-family: var(--font-montserrat);
}

.no-scroll {
  overflow: hidden;
}
