@import "./responsive.scss";

@mixin transition-standart {
  transition: all 300ms ease-in-out;
  @content;
}

@mixin text-main-openSands {
  font-family: var(--font-open-sands);
  color: var(--color-dark);
  font-size: 15px;
  line-height: 1.8; /* 180% */
  letter-spacing: 0.6px;
  @content;
  @include lg {
    font-size: 14px;
  }
}

@mixin text-title-h1-rubik {
  font-family: var(--font-rubik);
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.2; /* 110% */
  @content;
  @include lg {
    font-size: 50px;
  }
  @include md {
    font-size: 40px;
  }
  @include sm {
    font-size: 32px;
  }
}

@mixin text-title-h2-rubik {
  font-family: var(--font-rubik);
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  @content;
  @include lg {
    font-size: 36px;
  }
}

@mixin text-title-h3-rubik {
  font-family: var(--font-rubik);
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5;
  // letter-spacing: 0.6px;
  @content;
  @include lg {
    font-size: 28px;
  }
}
@mixin text-button-rubik {
  font-family: var(--font-rubik);
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  @content;
}
@mixin text-title-item-rubik {
  font-family: var(--font-rubik);
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.64px;
  @content;
}
@mixin text-uppercase-rubik {
  font-family: var(--font-rubik);
  font-size: 12px;
  font-weight: 700;
  line-height: 4.2; /* 420% */
  letter-spacing: 0.24px;
  text-transform: uppercase;
  @content;
}

@mixin side-buttons-hover {
  &:hover {
    background-color: var(--color-accent-yellow);

    @include md {
      background-color: transparent;
      color: var(--color-accent-yellow);
    }
  }
  @content;
}

@mixin side-buttons-visible {
  &.visible {
    opacity: 1;
    transform: translateX(0);
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    box-shadow: 0 6px 10px var(--color-dark-box-shadow);

    @include md {
      border: none;
      box-shadow: none;
      transform: translateY(0);
      font-size: 22px;
    }
  }
  @content;
}

@mixin side-buttons-hidden {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px;
  width: 60px;
  height: 60px;
  color: var(--color-dark);
  background-color: var(--color-white);
  opacity: 0;
  transform: translateX(60px);
  @include transition-standart;
  z-index: 9;

  @include md {
    transform: translateY(-60px);
  }
  @content;
}

@mixin side-buttons-active-before {
  &.active {
    position: relative;
    border-top-left-radius: 0;

    &::before {
      position: absolute;
      content: "";
      left: 0;
      top: 50%;
      width: 1px;
      height: 30%;
      background-color: var(--color-border);
      transform: translateY(-50%);

      @include md {
        top: 100%;
        left: 50%;
        height: 1px;
        width: 30%;
        transform: translateX(-50%);
      }
    }
  }
  @content;
}
