@import "../../mixin.scss";

.about_process {
  color: var(--color-white);

  .tablet_wrapper {
    display: flex;
    flex-direction: column;
  
  }

  .about_container {
    display: flex;

    @include sm {
      flex-direction: column;
    }

    .left_container {
      padding: 93px 37px 269px 37px;
      background-color: var(--color-dark);
      width: 440px;
      height: 830px;

      @include lg {
        padding: 50px 20px 80px 20px;
        max-width: 370px;
      }

      @include md {
        width: 320px;
        height: auto;
      }

      @include sm {
        width: 355px;
        padding: 50px 20px;
      }

      .wrapper_title {
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin-bottom: 30px;
      }

      .process_text {
        @include text-main-openSands;
        color: var(--color-white);
      }

      .process_list {
        list-style-type: disc;
        padding-left: 16px;
      }
    }

    .right_container {
      width: 780px;


      @include md {
        width: 408px;
      }

      @include sm {
        width: 355px;
      }
      
      

      .carousel {
        height: 700px;

        @include md {
          height: 100%;
        }

        @include sm {
          height: 300px;
        }
  
      }
    }
  }
}
