@import "../../mixin.scss";

.about_process {
  color: var(--color-white);

  .about_container {
    display: flex;
    // height: 730px;
    
    @include sm {
      flex-direction: column;
    }

    .left_container {
      padding: 93px 37px 269px 37px;
      // min-width: 440px;
      background-color: var(--color-dark);

      @include sm {
        width: 100%;
        padding: 50px 20px;
      }

      .wrapper_title {
        display: flex;
        flex-direction: column;
        gap: 38px;
        margin-bottom: 62px;
      }

      .process_text {
        @include text-main-openSands;
        color: var(--color-white);
      }

      .process_list {
        list-style-type: disc;
        padding-left: 16px;
      }
    }

    .right_container {
      // width: 840px;
      width: 100%;

      .carousel {
        height: 600px;

        @include sm {
          height: 300px;
        }
  
      }

      .phoneLink {
        display: flex;
        flex-direction: column;
        padding-left: 24px;
        font-family: var(--font-rubik);
        font-size: 30px;
        font-weight: 700;
        line-height: 1.68;

        .phoneNumber {
          font-family: var(--font-rubik);
          font-size: 24px;
          font-weight: 500;
          line-height: 2.1;
          letter-spacing: 0.48px;
        }
      }
    }
  }
}
