.prevButton {
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
}

.nextButton {
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

.prevButton,
.nextButton {
  &.absolute {
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: var(--color-white);
    border: none;
    svg {
      width: 42px;
      height: 42px;
    }

    &:hover {
      color: var(--color-white);
      background-color: var(--color-accent-yellow);
    }
  }
}
