@import "../../mixin.scss";
.best_container {
  display: flex;
  flex-direction: column;

  .best_wrapper {
    display: flex;
    background-color: var(--color-bg-light);
    @include lg {
      // flex-direction: column;
    }

    .list_wrapper {
      display: flex;
      flex-direction: column;
      // width: 440px;
      // height: 870px;
      padding: 86px 68px 170px;
      font-family: var(--font-rubik);
      flex: 1;
      @include lg {
        padding: 86px 20px 170px;
        // width: 350px;
      }

      .title {
        @include text-title-h3-rubik;
      }
    }

    .image_wrapper {
      display: flex;
      flex-direction: column;
      // max-width: 840px;
      // width: 100%;
      height: 870px;
      flex: 2;

      @include lg {
        height: 750px;
      }

      .count,
      .description_project {
        @include text-title-h2-rubik;
        line-height: 50.4px;
      }

      .text {
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: 50.4px; /* 420% */
        letter-spacing: 0.24px;
        text-transform: uppercase;
      }

      .description {
        z-index: 1;
      }
    }
  }
  .coworkers_wrapper {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    background-color: var(--color-bg-light);
    flex: 2;

    p {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      max-width: 420px;
      width: 100%;
      height: 130px;

      font-family: var(--font-rubik);
      font-size: 12px;
      font-weight: 700;
      line-height: 50.4px; /* 420% */
      letter-spacing: 0.24px;
      text-transform: uppercase;

      @include lg {
        flex: 1;
      }

      span {
        font-size: 40px;
      }
    }
  }
}
