.text_сontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  // margin: auto 0;

  .title_сontainer {
    border-left: 10px solid var(--color-accent-yellow);
    overflow: hidden;

    .title {
      font-family: var(--font-rubik);
      font-size: 64px;
      font-weight: 700;
      line-height: 80px;
      padding-left: 25px;
    }
  }
  .descriptions_wrapper {
    display: flex;
    flex-direction: column;

    .descriptions {
      width: 700px;
      margin-top: 28px;
      font-family: var(--font-open-sands);
      font-size: 22px;
      line-height: 32px; /* 145.455% */
    }
  }
}
