@import "../../mixin.scss";

.text_сontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--color-white-allways);

  .title_сontainer {
    border-left: 10px solid var(--color-accent-yellow);
    overflow: hidden;

    .title {
      @include text-title-h1-rubik;
      padding-left: 25px;
    }
  }
  .descriptions_wrapper {
    display: flex;
    flex-direction: column;

    .descriptions {
      width: 700px;
      margin-top: 28px;
      font-family: var(--font-open-sands);
      font-size: 22px;
      line-height: 1.45; /* 145% */

      @include lg {
        width: 600px;
      }

      @include md {
        font-size: 18px;
      }

      @include sm {
        width: 100%;
        font-size: 16px;
      }
    }
  }
}
