@import "../../mixin.scss";

.projectSection {
  width: 100%;

  &.withPaddingBottom {
    padding-bottom: 180px;
  }

  .projectContainer {
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    padding-bottom: 100px;
    gap: 38px;

    @include sm {
      max-width: 375px;
      width: 100%;
    }

    .sectionTitle {
      text-transform: capitalize;
      text-align: center;
      line-height: 1;
    }

    .projectList {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 30px;
      width: 100%;

      @include lg {
        gap: 16px;
      }
    }
  }
}

// ==== BACKDROP ====

.backdrop {
  //   background-color: rgba(0, 0, 0, 0.8);
  // background-color: var(--color-dark-allways);
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  justify-content: center;
  align-items: center;
  padding: 56px;

  @include sm {
    padding: 0;
  }
}

.modalContent {
  position: relative;
  // overflow: hidden;
  width: 60vw;
  height: inherit;
  // width: 800px;
  // height: 500px;
  // --- By ratio width for responsive ---
  // width: 660px;
  // width: 460px;
  // --- By ratio height for responsive ---
  // height: 412px;
  // height: 288px;

  @include md {
    width: 90vw;
    height: 90%;
  }

  .images {
    object-fit: cover;

    @include md {
      object-fit: contain;
    }
  }

  .closeSVG {
    width: 30px;
    height: 30px;
  }
  .ArrowLeftSVG,
  .ArrowRightSVG {
    width: 32px;
    height: 32px;
  }
}

// .scaledImgWrapper {
//   position: relative;
//   display: flex;
//   width: 200px;
//   height: 160px;
//   overflow: hidden;
//   object-fit: cover;
// }
// ==========================

.closeButton {
  top: 20px;
  right: 20px;
}

.prevButton {
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
}

.nextButton {
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

.counter {
  position: absolute;
  left: 0;
  bottom: -30px;
  color: var(--color-accent-blue);
  font-size: 16px;
  font-weight: 600;

  @include md {
    bottom: -20px;
    font-size: 14px;
  }
}
