@import "../../mixin.scss";

.projectSection {
  width: 100%;

  .projectContainer {
    padding: 126px 0 100px;

    .sectionTitle {
      margin-bottom: 38px;
      font-family: var(--font-rubik);
      font-size: 40px;
      font-weight: 700;
      line-height: 1;
      text-transform: capitalize;
      text-align: center;
    }

    .line {
      width: 48px;
      height: 5px;
      background-color: var(--color-accent-yellow);
      margin-left: auto;
      margin-right: auto;
    }

    .projectList {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 30px;
      margin: 38px auto;
      //   width: 1096px;
    }
  }
}

// ==== BACKDROP ====

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  //   background-color: rgba(0, 0, 0, 0.8);
  background-color: var(--color-dark);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  position: relative;
  overflow: hidden;
  width: 800px;
  height: 500px;
  // --- By ratio width for responsive ---
  // width: 660px;
  // width: 460px;
  // --- By ratio height for responsive ---
  // height: 412px;
  // height: 288px;
}

// .scaledImgWrapper {
//   position: relative;
//   display: flex;
//   width: 200px;
//   height: 160px;
//   overflow: hidden;
//   object-fit: cover;
// }
// ==========================

.closeButton {
  top: 20px;
  right: 20px;
}

.prevButton {
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
}

.nextButton {
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

.counter {
  color: var(--color-accent-blue);
  margin-top: 15px;
  font-size: 14px;
}
